*{
margin: 0px ;
font-family: Arial ;
border : border-box ;

}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display : flex ;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height:50px;
width: 100px;
}

.logo{

    background-image : url(amazonlogo.webp);
    background-size: cover;
    height:50px;
    width:100%;
}

.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */
.add-first{
color:#cccccc;
font-size: .85rem;
margin-left: 22px;
}

.add-second{
color:#ffffff;
font-size: 1rem;
margin:2px;

}
.add-icon{
    display:flex;
    align-items: center;
}

/* box three*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    border-radius: 5px;
background-color: #924778;
width:620px;
height:40px;
border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color:rgb(228, 168, 73) ;
    border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     color: #0f1111;
}
.nav-search:hover{
    border:2px solid orange;
}

/* box 4 */
span{
    font-size: 12px;
}
.nav-second{
font-size: o.85rem;
font-weight: 700;
}
/* box 5 */
.nav-cart i {
font-size:35px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;
}
/* pannel */
.pannel{
     height:40px;
      background-color: #222f3d;
    color:#ffffff;
    display:flex;
    align-items: center;
   
    
   
}

.pannel-ops p{
    display: inline;
    margin-left:10px;
}
.pannel-ops{
    width:70%;
    font-size: 0.85rem;

}

/* hero sec */
.hero-sec{
    background-size: cover;
    background-image: url(kitchen.jpg);
    height:400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:#0f1111;
    height:40px;
    width:80%;
    display:flex;
align-content: center;
justify-content: center;
font-size: 0.85rem;
margin-bottom: 25px;

}

.hero-msg a{
    color:#007185;
}

/* shop section  */
.box {
height:400px;
border : 2px solid black;
width:23%;
background-color: #ffffff;
padding: 20px 0px 15px;
margin-top: 15px;

}
.shop-sec {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box-img{
    height: 360px;
    background-size: cover ;
    background-repeat: no-repeat;
    margin-top: 0.1.rem;
    margin-bottom: .5rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p {
    color:blue;
}
/* footer */

.footer{
    margin-top: 15px;
}

.foot-pannel1{
    background-color: #37475a;
    color: #ffffff;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-pannel2{
    background-color: #0f1111;
    color:#ffffff;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}

ul{
margin:20px;
}

ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}

.foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
     background-image : url(amazonlogo.webp);
    background-size: cover;
    height:50px;
    width:100%;
}
.foot-pannel4{
background-color: #0f1111;
color: white;
height: 80px;
font-size: 0.7rem;
text-align: center;
/* display: flex;
justify-content: center;
align-items: center; */

}
.page{
font-size: 0.7rem;
text-align: center;
padding: 25px;
}
.copywrite{
    padding-top: 5px;

}